* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-radius: 2rem;
}

.item[v-show="true"] {
    display: block;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

button{
    width: 100px;
    z-index: 1;
    height: 80px;
    background: #ee0303;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 30%;
    font-size: 2rem;
    opacity: 85%;
}

button.btn_lft{
    position: relative;
    left: 20px;
    bottom: 85px;
}

button.btn_rgt{
    position: relative;
    right: 20px;
    bottom: 85px;

}